apiVersion: v1
kind: Service
metadata:
  name: prometheus
  namespace: carloan
  labels:
    app: moon
spec:
  selector:
    app: moon
  type:  NodePort
  ports:
  - name: moon-jvm-nodepoet
    port: 29999
    protocol: TCP
    targetPort: 29999
    nodePort: 58001

